<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--&lt;!&ndash; Required meta tags &ndash;&gt;-->
<!--<meta charset="utf-8">-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->

<!--&lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"-->
<!--integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">-->

<!--<title>LTE</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>SESSION</h1>-->
<!--<hr>-->
<!--<div class="container">-->
<!--{% for i in searchpdf %}-->
<!--<h3 class="text-center mt-2 mb-2">{{i.session_name}}</h3>-->
<!--<upload class="embed-responsive embed-responsive-16by9" controls="controls" >-->
<!--<source src="{{i.searchpdf.url}}" type="upload/mp4" />-->
<!--</upload>-->
<!--{% endfor %}-->
<!--</div>-->
<!--&lt;!&ndash; Optional JavaScript &ndash;&gt;-->
<!--&lt;!&ndash; jQuery first, then Popper.js, then Bootstrap JS &ndash;&gt;-->
<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384- -->
<!--DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384- -->
<!--9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384- -->
<!--B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>-->
<!--</body>-->
<!--</html>-->